Source: haskell-cabal-debian
Priority: optional
Section: haskell
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8.19)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-cabal-dev (>= 1.9) | ghc
               , libghc-cabal-prof (>= 1.9) | ghc-prof
               , libghc-diff-dev
               , libghc-diff-prof
               , libghc-hunit-dev
               , libghc-hunit-prof
               , libghc-unixutils-dev (>= 1.50)
               , libghc-unixutils-prof (>= 1.50)
               , libghc-ansi-wl-pprint-dev
               , libghc-ansi-wl-pprint-prof
               , libghc-applicative-extras-dev
               , libghc-applicative-extras-prof
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-bytestring-dev | ghc
               , libghc-bytestring-prof | ghc-prof
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
	       , libghc-data-lens-dev
	       , libghc-data-lens-prof
               , libghc-debian-dev (>= 3.71)
               , libghc-debian-prof (>= 3.71)
               , libghc-directory-dev | ghc
               , libghc-directory-prof | ghc-prof
               , libghc-filepath-dev | ghc
               , libghc-filepath-prof | ghc-prof
               , libghc-hsemail-dev
               , libghc-hsemail-prof
               , libghc-mtl-dev
               , libghc-mtl-prof
               , libghc-network-dev
               , libghc-network-prof
               , libghc-parsec3-dev (>= 3)
               , libghc-parsec3-prof (>= 3)
               , libghc-process-dev | ghc
               , libghc-process-prof | ghc-prof
               , libghc-puremd5-dev
               , libghc-puremd5-prof
               , libghc-regex-tdfa-dev
               , libghc-regex-tdfa-prof
               , libghc-syb-dev
               , libghc-syb-prof
               , libghc-text-dev
               , libghc-text-prof
               , libghc-unix-dev | ghc
               , libghc-unix-prof | ghc-prof
               , libghc-utf8-string-dev
               , libghc-utf8-string-prof
Build-Depends-Indep: ghc-doc
                     , libghc-cabal-doc (>= 1.9) | ghc-doc
                     , libghc-diff-doc
                     , libghc-hunit-doc
                     , libghc-unixutils-doc (>= 1.50)
                     , libghc-ansi-wl-pprint-doc
                     , libghc-applicative-extras-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-bytestring-doc | ghc-doc
                     , libghc-containers-doc | ghc-doc
		     , libghc-data-lens-doc
                     , libghc-debian-doc (>= 3.71)
                     , libghc-directory-doc | ghc-doc
                     , libghc-filepath-doc | ghc-doc
                     , libghc-hsemail-doc
                     , libghc-mtl-doc
                     , libghc-network-doc
                     , libghc-parsec3-doc (>= 3)
                     , libghc-process-doc | ghc-doc
                     , libghc-puremd5-doc
                     , libghc-regex-tdfa-doc
                     , libghc-syb-doc
                     , libghc-text-doc
                     , libghc-unix-doc | ghc-doc
                     , libghc-utf8-string-doc
Standards-Version: 3.9.3
Homepage: http://src.seereason.com/cabal-debian

Package: libghc-cabal-debian-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
         , debian-policy
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Create a debianization for a cabal package
 Tool for creating debianizations of Haskell packages based on the .cabal
 file.  If apt-file is installed it will use it to discover what is the
 debian package name of a C library.
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-cabal-debian-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Create a debianization for a cabal package
 Tool for creating debianizations of Haskell packages based on the .cabal
 file.  If apt-file is installed it will use it to discover what is the
 debian package name of a C library.
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-cabal-debian-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Create a debianization for a cabal package
 Tool for creating debianizations of Haskell packages based on the .cabal
 file.  If apt-file is installed it will use it to discover what is the
 debian package name of a C library.
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: cabal-debian
Architecture: any
Section: misc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
	 , ${misc:Depends}
	 , apt-file
         , debian-policy
         , debhelper
         , haskell-devscripts (>= 0.8.19)
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}, haskell-debian-utils (<< 3.59)
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Create a debianization for a cabal package
 Tool for creating debianizations of Haskell packages based on the .cabal
 file.  If apt-file is installed it will use it to discover what is the
 debian package name of a C library.
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
