Source: autobuilder
Maintainer: David Fox <dsf@seereason.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-cabal-dev | ghc
               , libghc-cabal-prof | ghc-prof
               , libghc-extra-dev
               , libghc-extra-prof
               , libghc-haxml-dev (>= 1:1.22.5)
               , libghc-haxml-prof (>= 1:1.22.5)
               , libghc-listlike-dev
               , libghc-listlike-prof
               , libghc-mime-dev (>= 1.1)
               , libghc-mime-prof (>= 1.1)
               , libghc-monadcatchio-mtl-dev
               , libghc-monadcatchio-mtl-prof
               , libghc-unixutils-dev (>= 1.51)
               , libghc-unixutils-prof (>= 1.51)
               , libghc-ansi-wl-pprint-dev
               , libghc-ansi-wl-pprint-prof
               , libghc-applicative-extras-dev (>= 0.1.8)
               , libghc-applicative-extras-prof (>= 0.1.8)
               , libghc-base-dev | ghc
               , libghc-base-prof | ghc-prof
               , libghc-bytestring-dev | ghc
               , libghc-bytestring-prof | ghc-prof
               , libghc-bzlib-dev
               , libghc-bzlib-prof
               , libghc-cabal-debian-dev (>= 3.1)
               , libghc-cabal-debian-prof (>= 3.1)
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
               , libghc-debian-dev (>= 3.78)
               , libghc-debian-prof (>= 3.78)
               , libghc-debian-repo-dev (>= 5.40.1)
               , libghc-debian-repo-prof (>= 5.40.1)
               , libghc-directory-dev | ghc
               , libghc-directory-prof | ghc-prof
               , libghc-file-embed-dev
               , libghc-file-embed-prof
               , libghc-filepath-dev | ghc
               , libghc-filepath-prof | ghc-prof
               , libghc-happstack-util-dev
               , libghc-happstack-util-prof
               , libghc-listlike-instances-dev
               , libghc-listlike-instances-prof
               , libghc-magic-dev
               , libghc-magic-prof
               , libghc-mtl-dev
               , libghc-mtl-prof
               , libghc-network-dev
               , libghc-network-prof
               , libghc-old-locale-dev | ghc
               , libghc-old-locale-prof | ghc-prof
               , libghc-old-time-dev | ghc
               , libghc-old-time-prof | ghc-prof
               , libghc-parsec3-dev (>= 3) | libghc-parsec2-dev (<< 3)
               , libghc-parsec3-prof (>= 3) | libghc-parsec2-prof (<< 3)
               , libghc-process-dev | ghc
               , libghc-process-prof | ghc-prof
               , libghc-process-extras-dev (>= 0.6)
               , libghc-process-extras-prof (>= 0.6)
               , libghc-process-progress-dev (>= 0.5)
               , libghc-process-progress-prof (>= 0.5)
               , libghc-puremd5-dev
               , libghc-puremd5-prof
               , libghc-regex-compat-dev
               , libghc-regex-compat-prof
               , libghc-regex-posix-dev
               , libghc-regex-posix-prof
               , libghc-regex-tdfa-dev
               , libghc-regex-tdfa-prof
               , libghc-tar-dev (>= 0.4)
               , libghc-tar-prof (>= 0.4)
               , libghc-template-haskell-dev | ghc
               , libghc-template-haskell-prof | ghc-prof
               , libghc-time-dev | ghc
               , libghc-time-prof | ghc-prof
               , libghc-unix-dev | ghc
               , libghc-unix-prof | ghc-prof
               , libghc-utf8-string-dev
               , libghc-utf8-string-prof
               , libghc-xhtml-dev
               , libghc-xhtml-prof
               , libghc-zlib-dev
               , libghc-zlib-prof
Build-Depends-Indep: ghc-doc
                     , libghc-cabal-doc | ghc-doc
                     , libghc-extra-doc
                     , libghc-haxml-doc (>= 1:1.22.5)
                     , libghc-listlike-doc
                     , libghc-mime-doc (>= 1.1)
                     , libghc-monadcatchio-mtl-doc
                     , libghc-unixutils-doc (>= 1.51)
                     , libghc-ansi-wl-pprint-doc
                     , libghc-applicative-extras-doc (>= 0.1.8)
                     , libghc-base-doc | ghc-doc
                     , libghc-bytestring-doc | ghc-doc
                     , libghc-bzlib-doc
                     , libghc-cabal-debian-doc (>= 3.1)
                     , libghc-containers-doc | ghc-doc
                     , libghc-debian-doc (>= 3.78)
                     , libghc-debian-repo-doc (>= 5.40.1)
                     , libghc-directory-doc | ghc-doc
                     , libghc-file-embed-doc
                     , libghc-filepath-doc | ghc-doc
                     , libghc-happstack-util-doc
                     , libghc-listlike-instances-doc
                     , libghc-magic-doc
                     , libghc-mtl-doc
                     , libghc-network-doc
                     , libghc-old-locale-doc | ghc-doc
                     , libghc-old-time-doc | ghc-doc
                     , libghc-parsec3-doc (>= 3) | libghc-parsec2-doc (<< 3)
                     , libghc-process-doc | ghc-doc
                     , libghc-process-extras-doc (>= 0.6)
                     , libghc-process-progress-doc (>= 0.5)
                     , libghc-puremd5-doc
                     , libghc-regex-compat-doc
                     , libghc-regex-posix-doc
                     , libghc-regex-tdfa-doc
                     , libghc-tar-doc (>= 0.4)
                     , libghc-template-haskell-doc | ghc-doc
                     , libghc-time-doc | ghc-doc
                     , libghc-unix-doc | ghc-doc
                     , libghc-utf8-string-doc
                     , libghc-xhtml-doc
                     , libghc-zlib-doc

Package: libghc-autobuilder-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: Build Debian source packages in suitable environments.
 The autobuilder program is now shipped as a haskell source file
 which uses the autobuilder library.  To configure it make a copy of
 @\/usr\/bin\/AutoBuilder.hs@ to somewhere such as @~\/AutoBuilder.hs@, edit
 the parameters in that file, and then use the command
 @
 sudo runhaskell ~\/AutoBuilder.hs
 @
 Documentation for the parameters is found in the
 'ParamClass' type class in the "Debian.AutoBuilder.ParamClass"
 module, and for the different build target types in the description
 of "Debian.AutoBuilder.BuildTarget".
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-autobuilder-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: Build Debian source packages in suitable environments.
 The autobuilder program is now shipped as a haskell source file
 which uses the autobuilder library.  To configure it make a copy of
 @\/usr\/bin\/AutoBuilder.hs@ to somewhere such as @~\/AutoBuilder.hs@, edit
 the parameters in that file, and then use the command
 @
 sudo runhaskell ~\/AutoBuilder.hs
 @
 Documentation for the parameters is found in the
 'ParamClass' type class in the "Debian.AutoBuilder.ParamClass"
 module, and for the different build target types in the description
 of "Debian.AutoBuilder.BuildTarget".
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-autobuilder-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: Build Debian source packages in suitable environments.
 The autobuilder program is now shipped as a haskell source file
 which uses the autobuilder library.  To configure it make a copy of
 @\/usr\/bin\/AutoBuilder.hs@ to somewhere such as @~\/AutoBuilder.hs@, edit
 the parameters in that file, and then use the command
 @
 sudo runhaskell ~\/AutoBuilder.hs
 @
 Documentation for the parameters is found in the
 'ParamClass' type class in the "Debian.AutoBuilder.ParamClass"
 module, and for the different build target types in the description
 of "Debian.AutoBuilder.BuildTarget".
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: autobuilder
Architecture: any
Section: misc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
         , apt
         , build-essential
         , curl
         , darcs
         , debootstrap
         , debian-archive-keyring
         , dupload
         , ghc
         , git
         , libghc-autobuilder-dev (= ${Source-Version})
         , mercurial
         , quilt
         , rsync
         , seereason-keyring
         , subversion
         , tla
         , ubuntu-keyring
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: Build Debian source packages in suitable environments.
 The autobuilder program is now shipped as a haskell source file
 which uses the autobuilder library.  To configure it make a copy of
 @\/usr\/bin\/AutoBuilder.hs@ to somewhere such as @~\/AutoBuilder.hs@, edit
 the parameters in that file, and then use the command
 @
 sudo runhaskell ~\/AutoBuilder.hs
 @
 Documentation for the parameters is found in the
 'ParamClass' type class in the "Debian.AutoBuilder.ParamClass"
 module, and for the different build target types in the description
 of "Debian.AutoBuilder.BuildTarget".
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: David Fox <dsf@seereason.com>
 .
 An executable built from the AutoBuilder package.
